doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Modular Workflow with Require.js

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 RequireJS
        h3 A JavaScript Module Loader
        h5 Greg Franko

      section
        h2 Why Do People Use RequireJS?

      section
        h2
          a(href='http://requirejs.org/docs/why.html', target='_blank') Performance
        h4 Asynchronous and Dynamic Loading
      section
        h2
          a(href='http://requirejs.org/docs/whyamd.html', target='_blank') Maintainability
        h4 Decoupled Code into Modules
      section
        h2
          a(href='http://requirejs.org/docs/optimization.html', target='_blank') Workflow
        h4 No Build Step Required

      section
        h2 What Projects/Companies Use RequireJS?

      section
        h2
          a(href='https://github.com/jquery/jquery/blob/master/build/tasks/build.js#L11', target='_blank') jQuery
        h4 Used in Development, Removed In Production

      section
        h2
          a(href='http://backstage.soundcloud.com/2012/06/building-the-next-soundcloud/' target='_blank') SoundCloud
        h4 RequireJS in Development, AlmondJS In Production

      section
        h2
          a(href='http://www.nearform.com/nodecrunch/release-the-kracken-how-paypal-is-being-revolutionized-by-node-js-and-lean-ux#.UuiYw2Qo7-Y' target='_blank') PayPal
        h4 Used In Both Development and Production

      section
        h2
          a(href='http://www.bbc.co.uk/frameworks/requirejs' target='_blank') BBC News
        h4 Used In Both Development and Production

      section
        h2
          a(href='https://www.addthis.com/get/smart-layers' target='_blank') AddThis
        h4 RequireJS in Development, AMDCleanJS In Production 

      section
        h2 Are You Using RequireJS?
        h4 It's Okay If You Aren't

      section
        h2 RequireJS Basics
        h3 Let's Learn By Seeing

      section
        h2 Most Projects Start Like This:
        h3 JavaScript files are included as HTML script tags
        hr
        pre
          code.language-markup
            &lt;body&gt;
            &lt;script src='jquery.js'&gt;&lt;/script&gt;
            &lt;script src='jquery-ui.js'&gt;&lt;/script&gt;
            &lt;script src='jquery.selectboxit.js'&gt;&lt;/script&gt;
            &lt;script src='lodash.js'&gt;&lt;/script&gt;
            &lt;script src='backbone.js'&gt;&lt;/script&gt;
            &lt;script src='init.js'&gt;&lt;/script&gt;
            &lt;script src='app.js'&gt;&lt;/script&gt;
            &lt;/body&gt;

      section
        h1 This Is Fine...
        ul
          li
          li
            h3 If you don't have many dependencies
          li
            h3 If you do not care about page load performance
          li
            h3 If you like all of your JavaScript logic in one file

      section
        h1 This Is Better:
        h3 Only Require.js is included as an HTML script tag
        hr
        pre
          code.language-markup
            &lt;body&gt;
            &lt;script src='require.js' data-main='init.js'&gt;&lt;/script&gt;
            &lt;/body&gt;

        hr
        h3 <code>data-main</code> - Tells Require.js what file to load first

      section
        h1 Huh?
        hr
        ul
          li
          li
            h3 How Are My Files Getting Loaded?
          li
            h3 Do I have to Use the <code>data-main</code> Attribute?

      section
        h1 Oh!
        hr
        ul
          li
          li
            h3 Require.js is now loading all of your JavaScript files
          li
            h3 The <code>data-main</code> attribute is a optional

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild