doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Modular Workflow with Require.js

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 RequireJS
        h3 A JavaScript Module Loader
        h5 Greg Franko
        hr
        hr
        h6 1/30/2014

      section
        h2 About The Speaker
        hr
        img.profile-pic(src='images/gregfranko.png')
        hr
        h3 <strong>Greg Franko</strong>
        h3 JavaScript Engineer at AddThis
        h3 Open Source Developer
        h3 Author
        h3 Speaker

      section
        h2 Why Do People Use RequireJS?

      section
        h2
          a(href='http://requirejs.org/docs/why.html', target='_blank') Performance
        h4 Asynchronous and Dynamic Loading
      section
        h2
          a(href='http://requirejs.org/docs/whyamd.html', target='_blank') Maintainability
        h4 Decoupled Code into Modules
      section
        h2
          a(href='http://requirejs.org/docs/optimization.html', target='_blank') Workflow
        h4 No Build Step Required

      section
        h2 What Projects/Companies Use RequireJS?

      section
        h2
          a(href='https://github.com/jquery/jquery/blob/master/build/tasks/build.js#L11', target='_blank') jQuery
        h4 Used in Development, Removed In Production

      section
        h2
          a(href='http://backstage.soundcloud.com/2012/06/building-the-next-soundcloud/' target='_blank') SoundCloud
        h4 RequireJS in Development, AlmondJS In Production

      section
        h2
          a(href='http://www.nearform.com/nodecrunch/release-the-kracken-how-paypal-is-being-revolutionized-by-node-js-and-lean-ux#.UuiYw2Qo7-Y' target='_blank') PayPal
        h4 Used In Both Development and Production

      section
        h2
          a(href='http://www.bbc.co.uk/frameworks/requirejs' target='_blank') BBC News
        h4 Used In Both Development and Production

      section
        h2
          a(href='https://www.addthis.com/get/smart-layers' target='_blank') AddThis
        h4 RequireJS in Development, AMDCleanJS In Production 

      section
        h2 Are You Using RequireJS?
        h4 It's Okay If You Aren't

      section
        h2 RequireJS Basics
        h3 Let's Learn

      section
        h2 Most Projects Start Like This:
        h3 JavaScript files are included as HTML script tags
        hr
        pre
          code.language-markup
            &lt;body&gt;
            &lt;script src='jquery.js'&gt;&lt;/script&gt;
            &lt;script src='jquery-ui.js'&gt;&lt;/script&gt;
            &lt;script src='lodash.js'&gt;&lt;/script&gt;
            &lt;script src='backbone.js'&gt;&lt;/script&gt;
            &lt;script src='init.js'&gt;&lt;/script&gt;
            &lt;script src='app.js'&gt;&lt;/script&gt;
            &lt;/body&gt;

      section
        h1 This Is Fine...
        ul
          li
          li
            h3 If you don't have many dependencies
          li
            h3 If you don't care about page load performance
          li
            h3 If you don't like decoupled code

      section
        h1 This Is Better:
        h3 Only Require.js is included as an HTML script tag
        hr
        pre
          code.language-markup
            &lt;body&gt;
            &lt;script src='require.js' data-main='init'&gt;&lt;/script&gt;
            &lt;/body&gt;

        hr
        h3 <code>data-main</code> - Tells Require.js to load <code>init.js</code> first

      section
        h1 Huh?
        hr
        h3 <code>init.js</code> is getting loaded, but none of my other JavaScript files are
        h3 <strong>RequireJS is the worst</strong>

      section
        h1 Everything Will Be Okay!
        hr
        h3 You haven't told RequireJS that <code>init.js</code> depends on <i>jQuery</i>, <i>jQueryUI</i>, <i>Lodash</i>, and <i>Backbone</i>

      section
        h2 How Do I Tell RequireJS About My File Dependencies?
        hr
        ul
          li
          li
            h3 By writing <code>init.js</code> in a format that Requirejs understands

      section
        h1 What Format?
        hr
        ul
          li
          li
            h2
              a(href='https://github.com/amdjs/amdjs-api/wiki/AMD', target='_blank') AMD

            h3 Asynchronous Module Definition

      section
        h1 init.js AMD Example
        pre
          code.language-javascript.
            // init.js
            // Depends on jQuery, jQueryUI, Lodash, and Backbone
            define(['jquery', 'jqueryui', 'lodash', 'backbone'], function($, null, _, Backbone) {
              /* This function get's called after
                jquery.js, jqueryui.js, lodash.js,
                and backbone.js are loaded
              */
            });

      section
        h1 Awesome, It Works!
        hr
        h3 <strong>RequireJS Is The Best</strong>
        h3 Please Tell Me More About AMD


      section
        h1 AMD
        hr
        ul
          li
          li
            h3 Module Format Used By RequireJS
          li
            h3 Exposes Two Global Methods:
            h3
              a(href='https://github.com/amdjs/amdjs-api/wiki/AMD#define-function-', target='_blank') define()
            h3
              a(href='https://github.com/amdjs/amdjs-api/wiki/require', target='_blank') require()

      section
        h2
          a(href='https://github.com/amdjs/amdjs-api/wiki/AMD#define-function-', target='_blank') define(id?, dependencies?, factory)
        ul
          li
          li
            h3 Communicates a File's Dependencies and Return Value
          li
            Can Can return any type of value (e.g object, function, string) and defaults to <code>undefined</code> if no return value is specified.
          li
            The The <code>module id</code> and <code>dependencies</code> arguments are <strong>optional</strong>
          li
            pre
              code.language-javascript.
                // example.js
                // Does not depend on any files and returns a string
                define(function() {
                  return 'No dependencies, returns a string';
                });

      section
        h2 If 
          a(href='https://github.com/amdjs/amdjs-api/wiki/AMD#define-function-', target='_blank') define
          d Is Confusing You...
        ul
          li
          li
            h3 Let's See How It Would Look In Plain JavaScript
          li
            pre
              code.language-javascript.
                var example = function() {
                  return 'No dependencies, returns a string';
                }();

      section
        h2
          a(href='https://github.com/amdjs/amdjs-api/wiki/AMD#define-function-', target='_blank') define(id?, dependencies?, factory)
        ul
          li
            h3 Let's Look At A Slightly More Complicated Example
          li
            pre
              code.language-javascript.
                // getUser.js
                // Depends on a file (users.js), and returns a getUser function
                define(['./users'], function(users) {
                  return function getUser(username) {
                    return users[username];
                  };
                });

      section
        h2 If 
          a(href='https://github.com/amdjs/amdjs-api/wiki/AMD#define-function-', target='_blank') define
          d Is Still Confusing...
        ul
          li
          li
            h3 Let's See How It Would Look In Plain JavaScript
          li
            pre
              code.language-javascript.
                var getUser = function(users) {
                  return function getUser(username) {
                    return users[username];
                  };
                }(usersCollection);

      section
        h1 Is That It?
        hr
        ul
          li
          li
            h3 Nope, There Are Many Ways To Define an AMD Module
          li
            h3 Check Out More 
              a(href='http://requirejs.org/docs/api.html#define', target='_blank') Module Definitions

      section
        h2
          a(href='https://github.com/amdjs/amdjs-api/wiki/require', target='_blank') require(Array, Function)
        ul
          li
          li
            h3 Loads One Or More AMD Modules
          li
            pre
              code.language-javascript.
                // Loads the example.js module from our first define() example
                require(['./example.js'], function(exampleText) {
                  // Prints: 'example.js return value: No dependencies, returns a string'
                  console.log('example.js return value: ', exampleText);
                })
          li
            h3 That's All There Is To The <code>require()</code> Method

      section
        h2 Should I Use <code>define</code> or <code>require</code>?
        hr
        ul
          li
          li
            h2 <strong>You Should Use Both</strong>
          li
            h3 Use <code>define</code> to wrap logic that you would like to re-use somewhere else in your application
          li
            h3 Use <code>require</code> when you just want a dependency to be loaded onto the page.

      section
        h1 Now What?
        hr
        ul
          li
          li
            h3 Now That You Understand How To Create And Load AMD Modules...
          li
            h3 Let Me Answer Your Question With A Question
          li
            h3 <strong>Have You Ever Used JavaScript Code That You Didn't Write?</strong>

      section
        h1 Third Party Libraries
        hr
        ul
          li
          li
            h3 <strong>Cannot</strong> Assume AMD Is Being Used
          li
            h3 <strong>Can</strong> Still Provide Conditional Support

      section
        h2 How Would A Third Party Library Provide AMD Support?
        hr
        ul
          li
          li
            h3 By Conditionally Wrapping Itself in a <code>define</code> method
            pre
              code.language-javascript.
                // If an AMD compatible loader is on the page
                if ( typeof define === "function" && define.amd ) {
                    define([], function() {
                        return exampleLib;
                    });
                }

      section
        h1 Third Party Examples

      section
        h1 jQuery
        hr
        h3 Provides AMD Support via a <strong>Named AMD module</strong>
        ul
          li
            pre
              code.language-javascript.
                // jQuery Source
                if ( typeof define === "function" && define.amd ) {
                    define( "jquery", [], function() {
                        return jQuery;
                    });
                }

      section
        h1 Lodash
        hr
        h3 Provides AMD Support via an <strong>Anonymous AMD module</strong>
        ul
          li
            pre
              code.language-javascript.
                // Lodash Source
                if (typeof define == 'function' && typeof define.amd == 'object' && define.amd) {
                  root._ = _;

                  define(function() {
                    return _;
                  });
                }

      section
        h1 Backbone
        hr
        h3 Does <strong>Not</strong> Provide AMD Support 
          a(href='https://github.com/jashkenas/backbone/commit/ab5d2eb4c657ed81e80ac815f687e94a2cb55fef', target='_blank') yet
        ul
          li
            pre
              code.language-javascript.
                // Backbone Source
                var Backbone;
                if (typeof exports !== 'undefined') {
                  Backbone = exports;
                } else {
                  Backbone = root.Backbone = {};
                }

      section
        h2 How Do You Use Scripts That Are Not AMD Compatible?
        hr
        ul
          li
          li
            h3 Use the RequireJS 
              a(href='http://requirejs.org/docs/api.html#config-shim', target='_blank') Shim Configuration

      section
        h2
          a(href='http://requirejs.org/docs/api.html#config-shim', target='_blank') Shim Configuration
        hr
        h3 Useful for libraries that export a global variable
        pre
          code.language-javascript.
            requirejs.config({
              shim: {
                'backbone': {
                    deps: ['underscore', 'jquery'],
                    exports: 'Backbone'
                }
              }
            });

      section
        h2 Is This Black Magic?
        hr
        ul
          li
          li
            h3 No, RequireJS just creates a <code>define</code> wrapper for all shimmed libraries
          li
            pre
              code.language-javascript.
                define("backbone", ["underscore","jquery"], (function (global) {
                    return function () {
                        var ret, fn;
                        return ret || global.Backbone;
                    };
                }(this)));

      section
        h2
          a(href='http://requirejs.org/docs/api.html#config-shim', target='_blank') Shim Configuration
        hr
        h3 Also Useful for Declaring Dependencies
        pre
          code.language-javascript.
            require.config({
              shim: {
                'jquery.ui.widget': ['jquery'],

                'jquery.selectBoxIt': ['jquery.ui.widget']
              }
            });

      section
        h1 Hold Up
        hr
        ul
          li
          li
            h3 Can You Explain The <code>require.config()</code> Method?

      section
        h2 RequireJS 
          a(href='http://requirejs.org/docs/api.html#config', target='_blank') Config
        hr
        ul
          li
          li
            h3 RequireJS allows you to set application-level configuration options
          li
            h3 The configuration options should be set <strong>before</strong> you define/require any modules

      section
        h2 Popular 
          a(href='http://requirejs.org/docs/api.html#config', target='_blank') Config Options
        hr
        ul
          li
          li
            h3
              a(href='http://requirejs.org/docs/api.html#config-baseUrl', target='_blank') baseurl
            The The beginning file path that is used for all of the file lookups
          li
            h3
              a(href='http://requirejs.org/docs/api.html#config-paths', target='_blank') paths
            Allows Allows you to map module IDs to alias names (easier to type <code>'jquery'</code> than <code>'../../jquery</code>')

          li
            h3
              a(href='http://requirejs.org/docs/api.html#config-shim', target='_blank') shim
            Allows Allows you to make third-party libraries AMD compatible

      section
        h1 Let's Review
        ul
          li
          li
            h3 <code>Define()</code> allows you to create AMD modules
          li
            h3 <code>Require()</code> allows you to load one or more AMD modules onto the page
          li
            h3 RequireJS configuration options provide flexibility and convenience
          li
            h3 <strong>Last but not least...</strong>

      section
        h2 Building with 
          a(href='http://requirejs.org/docs/optimization.html', target='_blank') The RequireJS Optimizer

      section
        h1
          a(href='http://requirejs.org/docs/optimization.html', target='_blank') The RequireJS Optimizer
        hr
        ul
          li
          li
            h3 Node.js Command-Line Build Tool
          li
            h3 Concatenates Your AMD Project Into One File
          li
            h3 A Ton Of 
              a(href='https://github.com/jrburke/r.js/blob/master/build/example.build.js#L527', target='_blank') Options
          li
            h3 Can Be Used with Grunt or Gulp

      section
        h2 Example Build Profile
        pre
          code.language-javascript.
            {
              baseUrl: "public/js/",
              paths: {
                "desktop": "app/config/Init"
              },
              optimize: "uglify",
              mainConfigFile: "public/js/app/config/Init.js",
              include: ["desktop"],
              out: "public/js/app/config/Init.min.js"
            }

      section
        h2 Common Optimizer Questions
        ul
          li
          li
            h3 I thought RequireJS Didn't Require A Build Step?
            h4 It doesn't, the optimizer is optional.
          li
            h3 Why Would I use the RequireJS Optimizer?
            h4 If you want to build your project into one file
          li
            h3 Do I Still Need RequireJS After I Build?
            h4 If you need to load any additional network resources with RequireJS, then yes.  Otherwise, you may use <a href='https://github.com/jrburke/almond/blob/master/almond.js' target='_blank'>Almond.js</a> or <a href='https://github.com/gfranko/amdclean' target='_blank'>AMDClean.js</a>.

      section
        h2
          a(href='https://github.com/jrburke/almond', target='_blank') Almond.js
        ul
          li
          li
            h3 A Minimal (~400 line) RequireJS Replacement After Optimized Builds
          li
            h3 Does Not Allow Loading Network Resources
          li
            h3 Does Not Transform Source Code
          li
            a(href='https://github.com/BoilerplateMVC/Backbone-Require-Boilerplate-Lite/blob/master/Gruntfile.js', target='_blank') Example Build With Almond.js

      section
        h2
          a(href='http://gregfranko.com/amdclean/', target='_blank') AMDClean.js
        ul
          li
          li
            h3 An AMD Build Tool That Converts AMD Code To Standard JavaScript
          li
            h3 Allows You To Use AMD In Development Without Having To Include an AMD Library In Production
          li
            h3 Does Not Allow Loading Network Resources
          li
            h3 Transforms Source Code
          li
            a(href='https://github.com/BoilerplateMVC/Backbone-Require-Boilerplate/blob/master/Gruntfile.js', target='_blank') Example Build With AMDClean.js

      section
        h2 For A Complete Example, Check Out: 
        hr
        h2
          a(href='https://github.com/BoilerplateMVC/Backbone-Require-Boilerplate', target='_blank') Backbone-Require-Boilerplate

      section
        h2 Additional Topics That May Interest You
        hr
        h3 Browserify vs RequireJS
        h3 Using CommonJS syntax with RequireJS
        h3 ES6 Modules and The Future

      section
        h1 Thanks!
        hr
        h3
          <strong>Twitter: </strong><a href='https://twitter.com/GregFranko' target='_blank'>GregFranko</a>
        h3
          <strong>Github: </strong><a href='https://github.com/gfranko' target='_blank'>gfranko</a>

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild